name: Tests

on:
  push:
    branches:
    - '*'

jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7]
        matplotlib-version: [3.2.0, 3.3.0, 3.4.0, 3.5.0]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Before_install
      run: |
        sudo apt-get -y install ghostscript inkscape
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install matplotlib==${{ matrix.matplotlib-version }}
        python -m pip install pytest>=4.6
        python -m pip install pytest-cov
        python -m pip install codecov coverage
    - name: Test with pytest
      run: |
        python -mpytest -ra --cov=./ --log-level=DEBUG
